* {
  box-sizing: border-box;
}

body {
    max-height: 100vh;
    min-width: 100vh;
    width: none;
    margin: 0;
    background-color: #0e131f;
    color: #F3F4F6;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1, h3 {
    margin: 0;
    font-weight: 500;
}

h1 {
    color: #fff;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #212738;
}

button {
    font: inherit;
    border-radius: 10px;
    color: #e2e5e8;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icon {
    border: 1px solid #3c3671bf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #3c36717f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c36717f;
}

.header-icon svg {
    color: #b2a3ff;
    width: 23px;
    height: 23px;
}

.app {
    margin: 20px 20px;
    padding: 20px;
    background-color: #131929;
    border: 1px solid #20273a;
    border-radius: 26px;
}

.stats {
    padding-top: 10px;
    color: #caccda;
    font-size: 13px;
    font-weight: 400;
}

.online-count {
    color: #56d552;
}

.controls {
    background-color: #181d2d;
    border: 2px solid #1d2433;
    box-shadow: -1px 5px 15px #0a0f1b;
    border-radius: 16px;

    margin: 30px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    color: #ffffff;
}

.search-input {
    font-size: 16px;
    background-color: #131828;
    border: 1px solid #1e2536;
    border-radius: 10px;
    color: #F3F4F6;

    height: 40px;
    width: 300px;
    padding: 0 0 0 20px;

    transition: 0.5s ease;
}

.search-input::placeholder {
    color: #888b9a;
}

.search-input:focus {
    outline: none;
    border-color: #8B5CF6;
}

.search-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters {
    display: flex;
    gap: 20px;
}

.clear-search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    height: 40px;
    background-color: #1c2033;
    border: 1px solid #313250;
    cursor: pointer;
    transition: 0.5s ease;
}

.clear-search-button:hover,
.filter-button-off:hover {
    background-color: #2A1F4F;
    border: 1px solid #8B5CF6;
}

.dev-filter-icon,
.filter-online-icon,
.clean-icon {
    height: 16px;
    width: 16px;
    color: #8f73cd
}

.filter-button-off {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1a1f30;
    border: 1px solid #242a3e;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.filter-button-on {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #2A1F4F;
    border: 1px solid #8B5CF6;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #181d2d;
    border: 2px solid #1d2433;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 290px;
    box-shadow: -1px 5px 15px #0a0f1b;
    transition: 0.5s ease;
}

.user-card:hover {
    box-shadow: 0 0 5px #8B5CF6;
}

.top-status-icon {
    position: absolute;
}

.top-status-icon svg {
    height: 15px;
    width: 15px;
}


.circle-user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-user-pic svg {
    height: 100px;
    width: 100px;
    color: #8f73cd;
}

.user-age-info,
.user-city-info,
.user-status-info,
.empty-message {
    color: #8e919b;
}

.user-age,
.user-city,
.user-role {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px;
}

.user-status {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid #212738;
}

.user-age-icon svg,
.user-city-icon svg,
.footer-icon svg {
    height: 20px;
    width: 20px;
    color: #8f73cd;
}

.user-role {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.user-status-icon {
    display: flex;
    align-items: center;
}

.user-status-icon svg {
    width: 16px;
    height: 16px;
}

.show-age-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    background-color: #1e1f37;
    padding: 5px 10px;
    border: 2px solid #313250;
    border-radius: 10px;
    color: #8f73cd;
    cursor: pointer;
    transition: 0.5s ease;
}

.show-age-button:hover {
    background-color: #2A1F4F;
    border: 2px solid #8B5CF6;    
}

.footer {
    border-top: 1px solid #212738;
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 30px -20px 0;
    padding: 15px 20px 0;

    font-size: 13px;
    color: #696d7b;
    font-weight: 400;
}
